<div class="center-box">

<h2>Edit User Details</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <!-- REVIEW remove this b/c already have flash notice/alerts? -->
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %>
      <!-- REVIEW how do I change the size of input fields without making the text inside larger? -->
      <%= f.email_field :email, autofocus: true%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "off"%>
    <!-- TODO add JS hover to display below message instead. -->
    <div><i>(leave this blank to keep current password)</i></div>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "off" %>
    <div><i>(password changes require you to confirm your current password)</i></div>
  </div>

  <div class="actions padded-button">
    <%= f.submit "Update Info", class: "btn btn-info" %>
  </div>
<% end %>

<h2>Edit Account Settings</h2>
<% if current_user.role == 'member' %>
  <%= link_to "Upgrade to Premium", new_charge_path(), class: "btn btn-success" %>
<% elsif current_user.role == 'premium' %>
  <!-- TODO change to give options (delete private wikis, convert private wikis, etc) -->
  <!-- REVIEW why isn't the confirmation message showing up? -->
  <!-- data: { confirm: "Are you sure?" } -->
  <%= link_to "Downgrade to member", :downgrade_user, data: {confirm: "Downgrading will render all private wikis public. Continue anyway?"}, class: "btn btn-warning" %>
<% end %>


<%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

</div>
