<!-- TODO add username -->
<h2>Profile for <%= @user.email %></h2>
<small> <%= @user.role  %> user </small>

<h2> Wikis by this user: <%= @user.wikis.count %></h2>

<!-- TODO create partial for user wiki index-->
<% @user.wikis.each do |wiki| %>
<!-- REVIEW cleaner way to do this? -->
    <!-- <%# if !wiki.private || current_user.admin? || wiki.user == current_user %> -->
      <p> <%= link_to wiki.title, wiki_path(wiki) %> </p>
    <!-- <%# end %> -->
<% end %>

<!-- TODO Move this somewhere better. Do not show on other user profiles -->
<% if current_user.role == 'member' %>
  <!-- REVIEW is there a way to have this show up in the user edit view? -->
  <%= link_to "Upgrade to Premium", new_charge_path() %>
<% elsif current_user.role == 'premium' %>
  <!-- REVIEW redirect to edit path? Change role without using stripe? -->
  <!-- <%# link_to "Downgrade to member", edit_charge_path() %> -->
  <!-- TODO change to give options (delete private wikis, convert private wikis, etc) -->
  <%= link_to "Downgrade to member", edit_charge_path, confirm: "Downgrading will render all private wikis public. Continue anyway?" %>
<% end %>
