<div class="row">
  <h2 class="user-show-heading"><%= @user.email %></h2>
  <div class="user-show-heading btn-xs btn-primary" id="role-button"><%= @user.role %> user</div>
  <h3> You have <%= @user.wikis.count %> Entries</h3>
</div>

<table class="table">
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @user.wikis.each do |wiki| %>
    <tr>
      <td>
        <div class="option-buttons"> <%= link_to wiki.title.truncate(60), wiki_path(wiki) %> </div>

        <div class="option-buttons pull-right">
          <% if wiki.user == current_user || current_user.role == 'admin' %>
            <div id="user-show-tiny-buttons">
              <%= link_to 'Edit', edit_wiki_path(wiki), class: "btn-sm btn-info" %> <%= link_to 'Delete', wiki_path(wiki), method: :delete, class: "btn-sm btn-danger " %>
              <% if current_user.role == 'premium' %>
                <%= link_to "Collaborations", wiki_collaborations_path(wiki), class: "btn-sm btn-success"%>
              <% end %>
            </div>
          <% end %>
        </div>

        <div>
          <%= wiki.body.truncate(150) %>
        </div>
      </td>
    </tr>

    <% end %>
  </tbody>
</table>
