<%= form_for(@wiki) do |f| %>
  <!-- REVIEW remove/replace this with flash alerts -->
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
      <% @wiki.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: 'Title for this Wiki', style: 'width:100%' %>
  </div>
  <div class="clearfix"> </div>

  <div class="field">
    <%= f.text_area :body, rows: 20, style: 'width:100%;', placeholder: 'Share your wisdom here' %>
  </div>

  <!-- REVIEW how can i make the 'create wiki' and 'private' buttons display next to eachother? -->
  <!-- ANSWER -> check styling for user settings -->
  <div class="actions">
    <!-- REVIEW how to apply a bootstrap css class on to this submit button? -->
    <%= f.submit%>
  </div>

  <!-- REVIEW how can I get the checkbox to align better? -->
  <% if current_user.role == 'premium' || current_user.role == 'admin' %>
    <div class="field", style="display:inline-block;">
      <%= f.label :private %> <%= f.check_box :private %>
    </div>
  <% end %>
<% end %>
