<%= form_for(@wiki) do |f| %>
  <% if @wiki.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wiki.errors.count, "error") %> prohibited this wiki from being saved:</h2>

      <ul>
      <% @wiki.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>

  <!-- XXX check to see if this works in both views -->
  <!-- <%# if current_user.role == 'premium' || current_user.role == 'admin' %> -->
    <!-- TODO fix styling to make checkbox align better -->
    <div class="field">
      <%= f.label :private %> <%= f.check_box :private %>
    </div>


    <% if @wiki.persisted?  %>
      <%= f.label :collaborators %>
      <% User.all.each do |user|  %>
        <p> <%= user.email %>
          <%= check_box_tag(:collaborator)  %>
        </p>
        <% end %>
    <% end %>
    <%# if @wiki.persisted? %>
      <!-- <div class="field">
        <%= f.label :collaborators %>
        <%= f.text_field :collaborators,
                          class: 'form-control',
                          placeholder: "Enter collaborators (separated by commas)" %>
      </div> -->
    <%# end %>
  <%# end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
