<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wiki.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= markdown(@wiki.body) %>
</p>

<p>
  <strong>User:</strong>
  <!-- TODO change to show username -->
  <%= @wiki.user.email %>
</p>

<strong>collaborators:</strong>
<p>
  <% if @wiki.users.any? %>
    <% @wiki.users.each do |u| %>
      <p> <%= u.email %> </p>
    <% end %>
  <% end %>
</p>

<%= link_to "Manage collaborators", wiki_collaborations_path(@wiki), class: "btn btn-success" %>

<%= link_to 'Edit', edit_wiki_path(@wiki) %> |
<%= link_to 'Back', wikis_path %>
