<!-- TODO style wiki show -->
<% if(@wiki.user == current_user)  %>
  <div class="pull-right">
    <%= link_to 'Edit', edit_wiki_path(@wiki), class: "btn btn-info" %> <%= link_to 'Delete', wiki_path(@wiki), method: :delete, class: "btn btn-danger " %>
  </div>
<% end %>


<h2> <%= @wiki.title %> </h2>

<p>
  <%= markdown(@wiki.body) %>
</p>

<p>
  <strong>Author:</strong> <%= @wiki.user.email %>
</p>

<% if @wiki.collaborations.any? %>
  <strong>Contributorss</strong>
  <p>
    <% if @wiki.users.any? %>
      <% @wiki.users.each do |u| %>
        <p> <%= u.email %> </p>
      <% end %>
    <% end %>
  </p>
<% end %>

<% if (current_user.role == 'premium' && @wiki.user == current_user) || current_user.role == 'admin' %>
  <%= link_to "Manage collaborators", wiki_collaborations_path(@wiki), class: "btn btn-success" %>
<% end %>
